@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Share Tech Mono", monospace;
}

.theme {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
  padding: 0 150px;
}

.tag {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.info_div {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  margin: 50px 0 50px 0;
  padding-right: 50px;
}

.btn_a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  background-color: #fcb72b;
  border: 2px solid #FCB72B;
  padding: 12px 30px;
  margin-top: 20px;
}

.btn_a:active {
  background: transparent;
  color: #FCB72B;
}

.mini_box {
  width: 50%;
  position: relative;
}

.section {
  padding: 100px 150px !important;
}

.section .right {
  position: absolute;
  bottom: 100px;
  right: 0;
}

.section .left {
  position: absolute;
  top: 100px;
  left: 0;
}

.nav {
  background: #ffffff !important;
}

.head_more {
  margin: 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.more {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.home {
  background: url(../images/Bitmap.jpg) no-repeat;
  background-size: 100%;
  padding: 100px 0;
}

.home .content {
  max-width: 1350px;
}

.home .content .infos {
  display: flex;
  align-items: center;
}

.home .content .infos .path,
.home .content .infos .info,
.home .content .infos .strelka {
  margin-right: 50px;
}

.home .content .infos .path {
  margin-top: -50px;
}

.home .content .infos .info .info_ {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin: 50px 0 50px 0;
}

.home .content .infos .strelka {
  margin-top: 80px;
}

.home .content .infos .round {
  margin-bottom: -140px;
}

.about_app {
  padding: 130px;
  position: relative;
  max-width: 1200px;
}

.about_app .app {
  width: 100%;
  display: flex;
  align-items: center;
}

.about_app .app .box {
  padding: 0 20px;
}

.about_app .app .path {
  position: absolute;
  top: 170px;
  left: -20px;
  z-index: -1;
}

.about_app .right_mask {
  width: 99px;
  position: absolute;
  top: 15%;
  right: 0;
}

.about_app .left_mask {
  width: 99px;
  position: absolute;
  top: 15%;
  left: 0;
}

.media {
  background: url(../images/footer_back.png) no-repeat;
  padding: 80px 150px;
  max-width: 1140px;
}

.media .sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media .sign .text .theme {
  padding: 0 !important;
}

.footer {
  background: #333a44;
  padding: 30px 150px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .nav-brand {
  display: flex;
  align-items: center;
}

.footer .nav-brand img {
  margin-right: 70px;
}

.footer .nav-brand .link a {
  text-decoration: none;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  margin: 0 10px;
}

.footer .nav-brand .link a:active {
  color: #FCB72B;
}

.footer .social-media i {
  font-size: 36px;
  color: #fcb72b;
  cursor: pointer;
  margin: 0 10px;
}

.footer .social-media i:active {
  color: #E5ECF4;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.home-about {
  background: url(../images/Bitmap-about.png) no-repeat;
  background-size: 100%;
  padding: 50px 0 !important;
  opacity: 0.8;
}

.home-about .infos {
  justify-content: space-between;
}

.values {
  max-width: 1140px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.values .tag {
  text-align: center;
  margin: 100px 0;
}

.values .values_content {
  width: 100%;
  display: flex;
}

.values .values_content .value {
  width: 33.33333%;
  text-align: center;
  padding: 0 20px;
}

.values .values_content .value .img {
  position: relative;
  margin-bottom: 5rem;
}

.values .values_content .value .img img {
  border-radius: 50%;
  width: 80%;
}

.values .values_content .value .number {
  position: absolute;
  bottom: -45px;
  left: 110px;
  background: #fcb72b;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.values .values_content .value .number span {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.faq {
  padding-bottom: 100px !important;
}

.faq .faq-content {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}

.faq .faq-content .tims {
  width: 33.3333%;
  padding-top: 10px;
}

.faq .faq-content .tims .tim {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.faq .faq-content .information {
  width: 66.6667%;
}

.faq .faq-content .information .cont {
  overflow: hidden;
  margin: 10px 0;
}

.faq .faq-content .information .cont .question {
  background: #f2f5f9;
  padding: 30px 30px 20px 30px;
  position: relative;
  z-index: 1;
  margin: 0 !important;
  position: relative;
  cursor: pointer;
}

.faq .faq-content .information .cont .question:active {
  background: #FFF4DF;
}

.faq .faq-content .information .cont .question span i {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.faq .faq-content .information .cont .question span .rotate {
  transform: rotate(0deg);
}

.faq .faq-content .information .cont .answer {
  background: #f2f5f9;
  padding: 0 30px 20px 30px;
  transition: all 1s ease;
}

.home-careers {
  background: url(../images/Bitmap_careers_back.png) no-repeat !important;
  background-size: 100%;
  padding: 50px 0 !important;
  opacity: 0.8;
}

.home-careers .infos {
  justify-content: space-between;
}

.careers {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.careers .works_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 2rem;
  background: #f2f5f9;
}

.careers .works_content .area .town {
  margin: 7px 0 !important;
}

.careers .works_content .apply_btn .btn_a {
  padding: 12px 45px !important;
}

.location {
  max-width: 1040px !important;
  position: relative;
  max-width: 1140px;
}

.location .maps img {
  width: 100%;
}

.location .dot {
  position: absolute;
}

.location .dot .gps {
  position: relative;
  width: 100px;
  color: #495567;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  background-color: #fcb72b;
  padding: 12px 30px;
}

.location .dot .gps span {
  width: 20px;
  height: 20px;
  background-color: #fcb72b;
  position: absolute;
  top: 35px;
  right: 65px;
  transform: rotate(45deg);
}

.location .dot .new_york {
  top: -420px;
  left: 142px;
}

.location .dot .london {
  top: -520px;
  right: -380px;
}

.location .dot .yakohama {
  top: -510px;
  left: 805px;
}

.location .dot .jakarta {
  top: -395px;
  left: 750px;
}

.your_city {
  max-width: 1140px;
  display: flex;
  align-items: center;
}

.your_city .theme {
  color: #333a44;
  padding: 0 !important;
}
/*# sourceMappingURL=style.css.map */